<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PTLCanTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PTLCanTest.Properties.Settings.LampConnectionString" connectionString="Data Source=ZHANGLIN-PC;Initial Catalog=Lamp;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <PTLCanTest.Properties.Settings>
            <setting name="singleLightColor" serializeAs="String">
                <value>FFFFFF</value>
            </setting>
            <setting name="multiLights" serializeAs="String">
                <value>1,3</value>
            </setting>
            <setting name="multiLightColor" serializeAs="String">
                <value>FFFFFF</value>
            </setting>
            <setting name="autoCleanInput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendSleep" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="com" serializeAs="String">
                <value>COM2</value>
            </setting>
        </PTLCanTest.Properties.Settings>
    </userSettings>
</configuration>
