<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsServiceTest.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  
    <userSettings>
        <WindowsServiceTest.Settings1>
            <setting name="ServerIp" serializeAs="String">
                <value>192.168.1.105</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>8001</value>
            </setting>
        </WindowsServiceTest.Settings1>
    </userSettings>
</configuration>