<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PTLTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PTLTest.Properties.Settings>
            <setting name="singleLightColor" serializeAs="String">
                <value>FFFFFF</value>
            </setting>
            <setting name="multiLights" serializeAs="String">
                <value>1,3</value>
            </setting>
            <setting name="multiLightColor" serializeAs="String">
                <value>FFFFFF</value>
            </setting>
            <setting name="autoCleanInput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendSleep" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="com" serializeAs="String">
                <value>COM6</value>
            </setting>
        </PTLTest.Properties.Settings>
    </userSettings>
</configuration>